<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
  <title>AutoLujos Piston</title>
</head>
<body>

  <div class="container">
    <div class="supInf1"> </div>
    <div class="poster">
      <img src="../../../../assets/Imagenes/AUTOS.png" alt="Autos">
      <div class="text">
        <h1>AUTOLUJOS PISTON</h1>
      </div>
      <div class="mensajes">
        <div class="mensaje">Gracias por su compra</div>
        <div class="mensaje"><strong>Un ticket con el detalle de su compra ha sido enviado al número ingresado, favor retirar su pedido en ventanilla.</strong></div>
        <div class="mensaje">Gracias por preferir a la familia PISTON</div>
        <div class="mensaje">Vuelva Pronto</div>
        <a (click)="navegar()"><button class="btn">Aceptar</button></a>
      </div>  
    </div>
    <div class="atras">
        <a  (click)="navegar2()"><img src="../../../../assets/Imagenes/atras.png" alt="atras"></a>
    </div>
  </div>  
  <div class="supInf"> </div>

</body>
</html>