<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
  <link rel="stylesheet" href="pagotc.component.css"/>
  <title>AutoLujos Piston</title>
</head>
<body>
  <div class="container">
    <div class="supInf1"> </div>
    <div class="poster">
      <img src="../../../../assets/Imagenes/AUTOS.png" alt="Autos">
      <div class="text">
        <h1>AUTOLUJOS PISTON</h1>
        <h2>Por favor acerque su tarjeta al lector ubicado en la parte inferiror</h2>
        <img src="../../../../assets/Imagenes/PagoTc.png" alt="pagotc">
      </div>
      <div class="botones">
      <a (click)="navegar()" class="nav-link"><button class="btn">PAGAR</button></a>
      <a (click)="navegar2()" class="nav-link"><button class="btn">VOLVER</button></a>
    </div>
    </div>
  </div>
  <div class="supInf"> </div>

</body>
</html>