<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
  <link rel="stylesheet" href="tipopago.component.css">
  <title>AutoLujos Piston</title>
</head>
<body>

  <div class="container">
    <div class="supInf1"> </div>
    <div class="poster">
      <img src="../../../../assets/Imagenes/AUTOS.png" alt="Autos">
      <div class="text">
        <h1>AUTOLUJOS PISTON</h1> <br><br>
      </div>
      <a (click)="navegar()"><button class="btn">Tarjeta de Crédito</button></a> <br><br><br>
      <a (click)="navegar()"><button class="btn">Efectivo</button></a> <br><br><br>
      
    </div>
  </div>
  <div class="supInf"> </div>

</body>
</html>