.supInf1{
    background-color: #262424;
    height: 30px;
    width: 600px;

  }
.supInf{
    background-color: #262424;
    height: 80px;
    width: 600px;
    margin: 0 auto;
  }
  
  .container {
    background-color: #001168;
    color: white;
    width: 600px;
    height: 750px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }


  h1 { 
    font-family: "Irish Grover";
    font-size: 60px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; }

    .btn {
        background-color: #27C7ED;
        color: #7C7C7C;
        font-size: 40px;
        font-weight: bolder;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 15px 10px #255353
      }